<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Pasajeros</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>


    <footer>
        <p>&copy; @DateTime.Now.Year - Jimena Celaya</p>
    </footer>

    @RenderSection("Scripts", required: false)

</html>
